org.eclipse.swordfish.configrepos.shared/test/resources/xml/tsp_conf_userAccount-remote.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--============================================================================
    Copyright (c) 2007 Deutsche Post AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
       Deutsche Post AG - initial API and implementation
 ============================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>This is the remote / fallback configuration for the User Account Management TSP.</xs:documentation>
    </xs:annotation>
    <!-- START SBB TYPES -->
    <!--attributeGroups -->
    <xs:attributeGroup name="sopConfigAttribGroup">
        <xs:attribute name="sbb_configuration_attribute_added" type="xs:boolean" use="optional"/>
        <xs:attribute name="sbb_configuration_attribute_changed" type="xs:boolean" use="optional"/>
        <xs:attribute name="sbb_configuration_attribute_fixed" type="xs:boolean" use="optional"/>
        <xs:attribute name="sbb_configuration_attribute_final" type="xs:boolean" use="optional"/>
        <xs:attribute name="sbb_configuration_attribute_access" type="xs:string" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="sopNamedConfigAttribGroup">
        <xs:attribute name="name" type="xs:string" use="optional" default="default"/>
        <xs:attributeGroup ref="sopConfigAttribGroup"/>
    </xs:attributeGroup>
    <!-- specific simpleTypes -->
    <!-- general complex types for elements holding one config value each -->
    <xs:complexType name="unnamedBooleanConfig">
        <xs:simpleContent>
            <xs:extension base="xs:boolean">
                <xs:attributeGroup ref="sopConfigAttribGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="namedBooleanConfig">
        <xs:simpleContent>
            <xs:extension base="xs:boolean">
                <xs:attributeGroup ref="sopNamedConfigAttribGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="unnamedStringConfig">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="sopConfigAttribGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="namedStringConfig">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="sopNamedConfigAttribGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="unnamedByteConfig">
        <xs:simpleContent>
            <xs:extension base="xs:byte">
                <xs:attributeGroup ref="sopConfigAttribGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="namedByteConfig">
        <xs:simpleContent>
            <xs:extension base="xs:byte">
                <xs:attributeGroup ref="sopNamedConfigAttribGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="unnamedIntConfig">
        <xs:simpleContent>
            <xs:extension base="xs:int">
                <xs:attributeGroup ref="sopConfigAttribGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="namedIntConfig">
        <xs:simpleContent>
            <xs:extension base="xs:int">
                <xs:attributeGroup ref="sopNamedConfigAttribGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="sanitycheckConfig">
        <xs:all>
            <xs:element name="period" type="unnamedByteConfig" default="0">
                <xs:annotation>
                    <xs:documentation>The time between two sanity checks. Default is 0 min, means no sanitiy check will be made.
                        </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="delay" type="unnamedIntConfig" default="30000">
                <xs:annotation>
                    <xs:documentation>The time in ms the timer waits before it starts a timer teak. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="maxObservationProcessingTime" type="unnamedIntConfig" default="1000">
                <xs:annotation>
                    <xs:documentation>The minimal time in ms which a connection to a backend must be available. If it is not possible to
                        create a connection to a backend in the given time, the backend will be declared as dead. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="sopNamedConfigAttribGroup"/>
    </xs:complexType>
    <xs:simpleType name="authenticationConfig">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="simple"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="namedAuthenticationConfig">
        <xs:simpleContent>
            <xs:extension base="authenticationConfig">
                <xs:attributeGroup ref="sopNamedConfigAttribGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ldapType">
        <xs:all>
            <xs:element name="initial-context-factory" type="unnamedStringConfig"
                default="com.sun.jndi.ldap.LdapCtxFactory">
                <xs:annotation>
                    <xs:documentation>Java class that provides connections to LDAP server via JNDI.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="providerURL" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>URL of LDAP server, including the root context. The root context is an LDAP DN and separated from
                        the URL by a slash (/).</xs:documentation>
                    <xs:documentation>Example: ldap://192.168.100.68:1389/o=ubbrief.deutschepost.de</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="secure-auth" type="authenticationConfig" default="none">
                <xs:annotation>
                    <xs:documentation>Level of authentication. If set to 'simple', username/password credentials will be used, if set
                        to 'none', no credentials will be used.</xs:documentation>
                    <xs:documentation>Possible values: simple, none</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bindDN" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>JNDI folder name of the subsystem context (here: Authentication). An LDAP DN is
                        expected.</xs:documentation>
                    <xs:documentation>Example: uid=SystemUserAuthenticationTSP</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bindPassword" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Password for access to 'bindDN'. Required, if 'secure-auth' is set to
                        'simple'.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="sopNamedConfigAttribGroup"/>
    </xs:complexType>
    <xs:complexType name="ldapTypeWithConnectionPool">
        <xs:all>
            <xs:element name="initial-context-factory" type="unnamedStringConfig"
                default="com.sun.jndi.ldap.LdapCtxFactory">
                <xs:annotation>
                    <xs:documentation>Java class that provides connections to LDAP server via JNDI.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="providerURL" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>URL of LDAP server, including the root context. The root context is an LDAP DN and separated from
                        the URL by a slash (/).</xs:documentation>
                    <xs:documentation>Example: ldap://192.168.100.68:1389/o=ubbrief.deutschepost.de</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="secure-auth" type="authenticationConfig" default="none">
                <xs:annotation>
                    <xs:documentation>Level of authentication. If set to 'simple', username/password credentials will be used, if set
                        to 'none', no credentials will be used.</xs:documentation>
                    <xs:documentation>Possible values: simple, none</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bindDN" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>JNDI folder name of the subsystem context (here: Authentication). An LDAP DN is
                        expected.</xs:documentation>
                    <xs:documentation>Example: uid=SystemUserAuthenticationTSP</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bindPassword" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Password for access to 'bindDN'. Required, if 'secure-auth' is set to
                        'simple'.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="connection-pool" type="xs:boolean" default="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Flag which controls the pooling behaviour of LDAP connections.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="sopNamedConfigAttribGroup"/>
    </xs:complexType>
    <!-- END SBB TYPES -->
    <!--  root element -->
    <xs:element name="configuration">
        <xs:complexType>
            <xs:all>
                <xs:element name="ldap" type="ldapTypeWithConnectionPoolAndUserEntityFilter">
                    <xs:annotation>
                        <xs:documentation>Configuration parameters for LDAP access.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="sanitycheck" type="sanitycheckConfig">
                    <xs:annotation>
                        <xs:documentation>Configuration parameters for periodic TSP sanity check.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <!-- types for complex sub elements -->
    <xs:complexType name="ldapTypeWithConnectionPoolAndUserEntityFilter">
        <xs:all>
            <xs:element name="initial-context-factory" type="unnamedStringConfig"
                default="com.sun.jndi.ldap.LdapCtxFactory">
                <xs:annotation>
                    <xs:documentation>Java class that provides connections to LDAP server via JNDI.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="providerURL" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>URL of LDAP server, including the root context. The root context is an LDAP DN and separated from
                        the URL by a slash (/).</xs:documentation>
                    <xs:documentation>Example: ldap://192.168.100.68:1389/o=ubbrief.deutschepost.de</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="secure-auth" type="authenticationConfig" default="none">
                <xs:annotation>
                    <xs:documentation>Level of authentication. If set to 'simple', username/password credentials will be used, if set
                        to 'none', no credentials will be used.</xs:documentation>
                    <xs:documentation>Possible values: simple, none</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bindDN" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>JNDI folder name of the subsystem context (here: Authentication). An LDAP DN is
                        expected.</xs:documentation>
                    <xs:documentation>Example: uid=SystemUserAuthenticationTSP</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bindPassword" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Password for access to 'bindDN'. Required, if 'secure-auth' is set to
                        'simple'.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="connection-pool" type="xs:boolean" default="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Flag which controls the pooling behaviour of LDAP connections.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="user" type="userType">
                <xs:annotation>
                    <xs:documentation>Java to LDAP mapping of the entity "user".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="entity" type="entityType">
                <xs:annotation>
                    <xs:documentation>Java to LDAP mapping of the Java entity type "entity".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="filter" type="filterType">
                <xs:annotation>
                    <xs:documentation>Filter that filters LDAP entries that meet the filter conditions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="sopNamedConfigAttribGroup"/>
    </xs:complexType>
    <xs:complexType name="userType">
        <xs:all>
            <xs:element name="objectclass" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Entity is mapped to this LDAP type. If the type is changed, the LDAP attribute values must be adjusted as well.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="rdn" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Resource domain name of the Java entity type (user.rdn) is mapped to LDAP attribute of the objectclass (inetOrgPerson.uid).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="id" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Identifier of the Java entity type (user.id) is mapped to LDAP attribute of the objectclass (inetOrgPerson.uid).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tree" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Name of the root node of the users domain, relative to root context. Must be an LDAP distinguished name (DN).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="default-credential" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Default password.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="attributes" type="userAttributesType">
                <xs:annotation>
                    <xs:documentation>Extended attribute mappings.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="userAttributesType">
        <xs:all>
            <xs:element name="uid" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>User identifier (user.uid) of the Java entity type is mapped to LDAP attribute (inetOrgPerson.uid).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cn" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Common name (user.cn) of the Java entity type is mapped to LDAP attribute (inetOrgPerson.cn).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sn" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Surname (user.sn) of the Java entity type is mapped to LDAP attribute (inetOrgPerson.sn).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Description (user.description) of the Java entity type is mapped to LDAP attribute (inetOrgPerson.description).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="password" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Password (user.password) of the Java entity type is mapped to LDAP attribute (inetOrgPerson.userPassword).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="system" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>System (user.system) of the Java entity type is mapped to LDAP attribute (inetOrgPerson.system).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="certificate" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Certificate (user.certificate) of the Java entity type is mapped to LDAP attribute (inetOrgPerson.userCertificate).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="entityType">
        <xs:all>
            <xs:element name="objectclass" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Entity is mapped to this LDAP type. If the type is changed, the LDAP attribute values must be adjusted as well.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="rdn" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Resource domain name of the Java entity type (entity.rdn) is mapped to LDAP attribute of the objectclass (groupOfUniqueNames.cn).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="id" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Identifier of the Java entity type (entity.id) is mapped to LDAP attribute of the objectclass (groupOfUniqueNames.cn).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tree" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Name of the root node of the users domain, relative to root context. Must be an LDAP distinguished name (DN).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="attributes" type="entityAttributesType">
                <xs:annotation>
                    <xs:documentation>Extended attribute mappings.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="entityAttributesType">
        <xs:all>
            <xs:element name="cn" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Common name (entity.cn) of the Java entity type is mapped to LDAP attribute (groupOfUniqueNames.cn).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="member" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Member (entity.member) of the Java entity type is mapped to LDAP attribute (groupOfUniqueNames.uniqueMember).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Description (entity.description) of the Java entity type is mapped to LDAP attribute (groupOfUniqueNames.description).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="uid" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>User identifier (entity.uid) of the Java entity type is mapped to LDAP attribute (groupOfUniqueNames.uid).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="filterType">
        <xs:all>
            <xs:element name="all" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Filter for all LDAP entities in the root context.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="user" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Filter for all LDAP "user" entities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="entity" type="unnamedStringConfig">
                <xs:annotation>
                    <xs:documentation>Filter for all LDAP "entity" entities.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
</xs:schema>
