org.eclipse.swordfish.configrepos.shared/test/resources/xml/schemas/sbb/generic.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--============================================================================
    Copyright (c) 2007 Deutsche Post AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
       Deutsche Post AG - initial API and implementation
 ============================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:target="http://schemas.sopware.org/configuration/generic/1.0"
	targetNamespace="http://schemas.sopware.org/configuration/generic/1.0"
	elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>
			This is the declaration of generic SOPWARE attributes and
			types.
		</xs:documentation>
	</xs:annotation>
	<!-- 
		START GENERIC SOPWARE CONFIGURATION REPOSITORY META-ATTRIBUTES 
	-->
	<!-- simple attributes -->
	<xs:attribute name="sbb_configuration_attribute_added"
		type="xs:boolean">
		<xs:annotation>
			<xs:documentation>
				Boolean meta-data attribute, defining whether the
				containing element has been added to this parents node,
				or not.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="sbb_configuration_attribute_changed"
		type="xs:boolean">
		<xs:annotation>
			<xs:documentation>
				Boolean meta-data attribute, definig whether this
				element was changed or not.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="sbb_configuration_attribute_deleted"
		type="xs:boolean">
		<xs:annotation>
			<xs:documentation>
				Boolean meta-data attribute, definig whether this
				element was deleted at a specific scope.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="sbb_configuration_attribute_fixed"
		type="xs:boolean" />
	<xs:attribute name="sbb_configuration_attribute_final"
		type="xs:boolean" />
	<xs:attribute name="sbb_configuration_attribute_access"
		type="xs:string" />
	<xs:attribute name="sbb_configuration_attribute_version"
		type="xs:string" />
	<xs:attribute name="name" type="xs:string" />
	<!-- attributeGroups -->
	<xs:attributeGroup name="elementMetaAttribGroup">
		<xs:attribute ref="target:sbb_configuration_attribute_added"
			use="optional" />
		<xs:attribute ref="target:sbb_configuration_attribute_changed"
			use="optional" />
		<xs:attribute ref="target:sbb_configuration_attribute_deleted"
			use="optional" />
		<xs:attribute ref="target:sbb_configuration_attribute_fixed"
			use="optional" />
		<xs:attribute ref="target:sbb_configuration_attribute_final"
			use="optional" />
		<xs:attribute ref="target:sbb_configuration_attribute_access"
			use="optional" />
		<xs:attribute ref="target:sbb_configuration_attribute_version"
			use="optional" default="1.0" />
	</xs:attributeGroup>
	<xs:attributeGroup name="namedElementMetaAttribGroup">
		<xs:attribute ref="target:name" use="optional" />
		<xs:attributeGroup ref="target:elementMetaAttribGroup" />
	</xs:attributeGroup>
	<xs:attributeGroup name="componentMetaAttribGroup">
		<xs:attribute ref="target:name" use="required" />
		<xs:attributeGroup ref="target:elementMetaAttribGroup" />
	</xs:attributeGroup>
	<!-- 
		END GENERIC SOPWARE CONFIGURATION REPOSITORY META-ATTRIBUTES 
	-->
	<!-- 
		START: Specialized SOPware config-sys simple types 
	-->
	<xs:simpleType name="urlElementType">
		<xs:restriction base="xs:anyURI">
			<xs:pattern value=".*:.*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jdbcURLSimpleType">
		<xs:restriction base="xs:anyURI">
			<xs:pattern
				value="jdbc:.*://([\p{L}\p{N}\-]+\.)*[\p{L}\p{N}\-]+:\p{N}+/.*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ldapURLSimpleType">
		<xs:restriction base="xs:anyURI">
			<xs:pattern
				value="ldap://([\p{L}\p{N}\-]+\.)*[\p{L}\p{N}\-]+:\p{N}+.*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="httpURLSimpleType">
		<xs:restriction base="xs:anyURI">
			<xs:pattern
				value="https?://([\p{L}\p{N}\-]+\.)*[\p{L}\p{N}\-]+:\p{N}+/.*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="javaQualifiedClassName">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern
				value="([A-Za-z_][A-Za-z0-9_]*\.)+[A-Z_][A-Za-z0-9_]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QNameSimpleElementType">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="\{.*\}[A-Z_a-z]([A-Z_a-z]|\-|\.|[0-9]|#xB7)*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qualifiedServiceDescriptionElementType">
		<xs:union memberTypes="xs:NCName xs:Name" />
	</xs:simpleType>
	<xs:simpleType name="jmsURLSimpleType">
		<xs:restriction base="xs:anyURI">
			<xs:pattern
				value="jms:.*://([\p{L}\p{N}\-]+\.)*[\p{L}\p{N}\-]+:\p{N}+/.*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jndiURLSimpleType">
		<xs:restriction base="xs:anyURI">
			<xs:pattern
				value="jndi:.*://([\p{L}\p{N}\-]+\.)*[\p{L}\p{N}\-]+:\p{N}+/.*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="jmsDestinationEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="topic" />
			<xs:enumeration value="queue" />
		</xs:restriction>
	</xs:simpleType>

	<!-- 
		END: Specialized SOPware config-sys simple types -->
	<!-- 
		START: Generic SOPware config-sys convenience element types 
	-->
	<xs:complexType name="unnamedBooleanElementType">
		<xs:simpleContent>
			<xs:extension base="xs:boolean">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="namedBooleanElementType">
		<xs:simpleContent>
			<xs:extension base="xs:boolean">
				<xs:attributeGroup
					ref="target:namedElementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedStringElementType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="namedStringElementType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup
					ref="target:namedElementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedByteElementType">
		<xs:simpleContent>
			<xs:extension base="xs:byte">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="namedByteElementType">
		<xs:simpleContent>
			<xs:extension base="xs:byte">
				<xs:attributeGroup
					ref="target:namedElementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedIntElementType">
		<xs:simpleContent>
			<xs:extension base="xs:int">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="namedIntElementType">
		<xs:simpleContent>
			<xs:extension base="xs:int">
				<xs:attributeGroup
					ref="target:namedElementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedNonNegIntElementType">
		<xs:simpleContent>
			<xs:extension base="xs:nonNegativeInteger">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="namedNonNegIntElementType">
		<xs:simpleContent>
			<xs:extension base="xs:nonNegativeInteger">
				<xs:attributeGroup
					ref="target:namedElementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedQNameElementType">
		<xs:simpleContent>
			<xs:extension base="target:QNameSimpleElementType">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="namedQNameElementType">
		<xs:simpleContent>
			<xs:extension base="target:QNameSimpleElementType">
				<xs:attributeGroup
					ref="target:namedElementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedURLElementType">
		<xs:simpleContent>
			<xs:extension base="target:urlElementType">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="namedURLElementType">
		<xs:simpleContent>
			<xs:extension base="target:urlElementType">
				<xs:attributeGroup
					ref="target:namedElementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedHttpURLElementType">
		<xs:simpleContent>
			<xs:extension base="target:httpURLSimpleType">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="namedHttpURLElementType">
		<xs:simpleContent>
			<xs:extension base="target:httpURLSimpleType">
				<xs:attributeGroup
					ref="target:namedElementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedLdapUrlElementType">
		<xs:simpleContent>
			<xs:extension base="target:ldapURLSimpleType">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="namedLdapUrlElementType">
		<xs:simpleContent>
			<xs:extension base="target:ldapURLSimpleType">
				<xs:attributeGroup
					ref="target:namedElementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedJdbcUrlElementType">
		<xs:simpleContent>
			<xs:extension base="target:jdbcURLSimpleType">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="namedJdbcUrlElementType">
		<xs:simpleContent>
			<xs:extension base="target:jdbcURLSimpleType">
				<xs:attributeGroup
					ref="target:namedElementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedJmsURLElementType">
		<xs:simpleContent>
			<xs:extension base="target:jmsURLSimpleType">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedJndiURLElementType">
		<xs:simpleContent>
			<xs:extension base="target:jndiURLSimpleType">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unnamedJmsDestinationElementType">
		<xs:simpleContent>
			<xs:extension base="target:jmsDestinationEnumerationType">
				<xs:attributeGroup ref="target:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- 
		END: Generic SOPware config-sys convenience element types 
	-->
	<xs:complexType name="ComponentType">
		<xs:attributeGroup ref="target:namedElementMetaAttribGroup" />
	</xs:complexType>
	<xs:element name="AbstractComponentElement"
		type="target:ComponentType" abstract="true" />
</xs:schema>
