org.eclipse.swordfish.configrepos.shared/test/resources/xml/schemas/sbb/localendpoint.remote.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--============================================================================
    Copyright (c) 2007 Deutsche Post AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
       Deutsche Post AG - initial API and implementation
 ============================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sopcs="http://schemas.sopware.org/configuration/generic/1.0"
	xmlns:sbblep="http://schemas.sopware.org/configuration/core/localendpoint.remote/1.0"
	targetNamespace="http://schemas.sopware.org/configuration/core/localendpoint.remote/1.0"
	elementFormDefault="qualified">
	<xs:import
		namespace="http://schemas.sopware.org/configuration/generic/1.0"
		schemaLocation="./generic.xsd" />

	<xs:complexType name="LocalEndpointsComponentType">
		<xs:complexContent>
			<xs:extension base="sopcs:ComponentType">
				<xs:all>
					<xs:element name="ConsumerEndpoint"
						type="sbblep:ConsumerEndpointType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Definition of the grouping element for
								the consumer side endpoints.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProviderEndpoint"
						type="sbblep:ProviderEndpointType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Definition of the grouping element for
								the consumer side endpoints.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ConsumerEndpointType">
		<xs:sequence>
			<xs:element name="CallbackService"
				type="sbblep:CallbackServiceElementType" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Definition of a callback service with port and
						address elements.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="sopcs:elementMetaAttribGroup" />
	</xs:complexType>

	<xs:complexType name="ProviderEndpointType">
		<xs:sequence>
			<xs:element name="Service" type="sbblep:ServiceElementType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Redefinition of a service with port and address
						elements.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="sopcs:elementMetaAttribGroup" />
	</xs:complexType>

	<xs:complexType name="ServiceElementType">
		<xs:choice>
			<xs:element name="Port" type="sbblep:PortElementType"
				minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Port defined within a service definition for
						local endpoint.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="namespace" type="xs:anyURI"
			use="required">
			<xs:annotation>
				<xs:documentation>
					Name space of the service definition for local
					endpoint activation.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:NCName" use="required">
			<xs:annotation>
				<xs:documentation>
					Local name of the service definition for local
					endpoint activation.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="sopcs:elementMetaAttribGroup" />
	</xs:complexType>
	<xs:complexType name="CallbackServiceElementType">
		<xs:choice>
			<xs:element name="Port" type="sbblep:PortElementType"
				minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Port defined within a service definition for
						local endpoint.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="namespace" type="xs:anyURI"
			use="required">
			<xs:annotation>
				<xs:documentation>
					Name space of the service definition for local
					endpoint activation.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="portTypeName" type="xs:NCName"
			use="required">
			<xs:annotation>
				<xs:documentation>
					Name of the callback port type if this service is
					defined for a request-callback. In the case of
					absense the endpoint definitions are intended to
					replace the endpoint definitions inside service
					provider description.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="sopcs:elementMetaAttribGroup" />
	</xs:complexType>
	<xs:complexType name="PortElementType">
		<xs:choice>
			<xs:element name="Address" type="sbblep:AddressElementType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						the HTTP or HTTPS address of the local endpoint
						to receive responses.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JmsAddress"
				type="sbblep:JmsAddressElementType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						the JMS address of the local endpoint to receive
						responses.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" type="xs:NCName" use="required">
			<xs:annotation>
				<xs:documentation>
					Local name of the port defined within a service
					definition for local endpoint activation.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="sopcs:elementMetaAttribGroup" />
	</xs:complexType>
	<xs:complexType name="JmsAddressElementType">
		<xs:all>
			<xs:element name="initialContextFactory"
				type="sopcs:unnamedStringElementType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The Java class name of an initial context
						factory that can connect to the JNDI pointed by
						jndiProviderURL.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jndiProviderURL"
				type="sopcs:unnamedURLElementType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The address of the JNDI to retrieve the
						ConnectionFactory and the destination name from.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jndiProperties"
				type="sbblep:jndiPropertiesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						A list of properties that are passed to the JNDI
						provider to retrieve the initial context.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jndiConnectionFactoryName"
				type="sopcs:unnamedStringElementType">
				<xs:annotation>
					<xs:documentation>
						Name of the connection factory used to create a
						connection to the destination.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="destinationStyle"
				type="sopcs:unnamedJmsDestinationElementType">
				<xs:annotation>
					<xs:documentation>
						One value out of "queue" or "topic".
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="jndiDestinationName"
				type="sopcs:unnamedStringElementType">
				<xs:annotation>
					<xs:documentation>
						The name of the destination that is used to
						create a connection for interaction.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JMSUser" type="sbblep:JMSUserType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The user and its credentials used to
						authenticate against the underlying MOM.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isSharedDestination"
				type="sopcs:unnamedBooleanElementType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						A value out of "true" or "false". If this value
						is true than SBB will use jms selectors
						selecting messages based on the
						ParticipantIdentity
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="sopcs:elementMetaAttribGroup" />
	</xs:complexType>

	<xs:complexType name="jndiPropertiesType">
		<xs:sequence>
			<xs:element name="property" type="sbblep:propertyType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						A particular JNDI property that is passed to the
						JNDI provider during initial context lookup.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="sopcs:elementMetaAttribGroup" />
	</xs:complexType>

	<xs:complexType name="propertyType">
		<xs:all>
			<xs:element name="Value"
				type="sopcs:unnamedStringElementType">
				<xs:annotation>
					<xs:documentation>
						The property value.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attribute name="name" type="xs:NCName">
			<xs:annotation>
				<xs:documentation>The property name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="sopcs:elementMetaAttribGroup" />
	</xs:complexType>


	<xs:complexType name="JMSUserType">
		<xs:sequence>
			<xs:element name="UserID"
				type="sopcs:unnamedStringElementType">
				<xs:annotation>
					<xs:documentation>
						A name used as principle to authenticate against
						the underlying MOM.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Password"
				type="sopcs:unnamedStringElementType">
				<xs:annotation>
					<xs:documentation>
						The value used as credential to authenticate
						against the underlying MOM.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="sopcs:elementMetaAttribGroup" />
	</xs:complexType>
	<xs:complexType name="AddressElementType">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attributeGroup ref="sopcs:elementMetaAttribGroup" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="LocalEndpoints"
		type="sbblep:LocalEndpointsComponentType"
		substitutionGroup="sopcs:AbstractComponentElement" />
	<!-- 
		Don't use this for regular instantiation! This is just a mechanism to support
		the interface of the configuration repository service provider. 
	-->
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="sbblep:LocalEndpoints" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
